@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container mt-5">
    <!-- Description Section -->
    <section id="description">
        <h2 class="text-center">🌟 আদর্শ পাঞ্জাবি টেইলার্শে আপনাকে স্বাগতম! 🌟</h2>
       @*  <p class="text-center">"সেবা চালিয়ে যেতে এডমিন এর সাথে যোগাযোগ করুণ"</p> *@
    </section>
</div>
